#content-core, #parent-fieldname-title, #parent-fieldname-description {
    width: 740px;
}
.navigationIcon {
    display: none;
}

/* planet */
h3.feed-title a {
    font-size: 1.2em;
}
h3.feed-title {
    clear: both;
}

/* calendar */ 
.ploneCalendar .weekdays th {
    background-color: #2C76A6;
}
th#calendar-next a, th#calendar-previous a {
    font-size: 20px!important;
    color: #FFF!important;
}
#calendar-view-tabs {
    display: none;
}

/* chronos-calendar */
#chronos-calendar th {
    background-color: #2C76A6;
}
#chronos-calendar td div {
    width: 75px;
    margin-bottom: 1px;
    word-wrap: break-word;
}

